@import url(https://fonts.googleapis.com/css?family=Archivo+Black:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



html {
	scroll-behavior: smooth;
}

body {

	font-family: var(--font-main);
	overflow-x: hidden;
	padding-top: 78px;
	@include tablet {
		padding-top: 133px;
	}
	
}

img {
	display: block;
}

main {
	overflow-x: hidden;
	position: relative;

	&::before {
        position: absolute;
        z-index: -1;
        top: 40px;
        left: 9.6%;
        overflow-x: hidden;
        content: url('./../../img/gaming/line-bg.png');

		@include tablet {
			top: -395px;
			left: -40.4%;
			transform: rotate(175.5deg);
			-webkit-transform: rotate(175.5deg);
			-moz-transform: rotate(175.5deg);
			-ms-transform: rotate(175.5deg);
			-o-transform: rotate(175.5deg);
		}
    }  
	
	
	// 	top: -317px;
	//   left: -306px;
	//   transform: rotate(175.5deg);
	// -webkit-transform: rotate(-30deg);
	// -moz-transform: rotate(-30deg);
	// -ms-transform: rotate(-30deg);
	// -o-transform: rotate(-30deg);
}




