.fashion {
    margin-top: 220px;
}
.fashion-wrapper {
    display: flex;
    gap: 40px;

    @include tablet {
        gap: 24px;
    }

    @include medium {
        gap: 104px;
    }

    @include medium {
        flex-direction: column;
    }
}
.fashion-block {
    height: 100%;
    width: 50%;
    
    @include mobile {
        width: 100%;
    }
}
.fashion-images {
    position: relative;
    margin-bottom: 32px;

    @include medium {
        margin-bottom: 24px;
    }
}
.fashion-img__wrapper {
    height: 100%;
}
.fashion-img-ph {
    mask-image: url('./../../img/masks/mask3.png');
    mask-repeat: no-repeat;
    mask-position: top;  
    mask-size: cover;
    width: 100%;

    &__mobile {
        display: none;
    }

    @include medium {
        display: none;

        &__mobile {
            display: block;
            mask-image: url('./../../img/masks/mask6.png');
            mask-repeat: no-repeat;
            mask-position: top;  
            mask-size: cover;
            width: 100%;
        }
    }
}

.fashion-img-cam {
    mask-image: url('./../../img/masks/mask4.png');
    mask-repeat: no-repeat;
    mask-position: top;  
    mask-size: cover;
    width: 100%;

    &__mobile {
        display: none;
    }

    @include medium {
        display: none;
        
        &__mobile {
            display: block;
            mask-image: url('./../../img/masks/mask5.png');
            mask-repeat: no-repeat;
            mask-position: top;  
            mask-size: cover;
            width: 100%;
        }
    }
}


.fashion-sticker {
    position: absolute;
    z-index: 20;
    transition: all 0.3s ease-in;

    &__mobile-left {
        display: none;
    }

    &__small {
        display: none;
    }

    @include tablet {
        width: 104px;
        height: 104px;
    }

    &__right {
        top: -47px;
        right: -40px;

        @include tablet {
            top: 8px;
            right: 8px;
        }

        &:hover {
            transform: rotate(180deg);
        }
    }

    &__left {
        top: -47px;
        left: -40px;

        @include tablet {
            display: none;
        }

        &:hover {
            transform: rotate(360deg);
        }
    }
}

.fashion-sticker__mobile-left {
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
        transform: rotate(180deg);
    }
    @include tablet {
        display: block;
    }
    @include mobile {
        display: none;
    }
}
.fashion-sticker__small {
    position: absolute;
    top: 8px;
    left: 8px;

    width: 160px;
    height: 90px;
    transition: all .1s ease-in;
    

    @include mobile {
        display: block;

        &:hover {
            transform: rotate(-20deg);
        }
    }
}

.fashion__nav-list {
    display: flex;
    gap: 8px;

    @include medium {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @include tablet {
        gap: 0;
    }
}
.fashion__info-title {
    font-size: 30px;
    margin-bottom: 16px;
}
.fashion__info-text {
    margin-bottom: 16px;
    max-width: 480px;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--gray70);
}
.fashion__info-timing {
    display: flex;
    gap: 24px;

    .timing-block {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        p {
            font-family: var(--font-main);
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            color: var(--gray35);
        }
    }
}